{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сервіс Обліку Студентів - {% block meta_title %}{% endblock meta_title %}</title>
    <meta name="description" value="Система пошуку музики" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">

    {% block extra_css %}{% endblock extra_css %}
</head>
<body>
<div class="container">
<h1>Сервіс пошуку музичного контенту</h1>
    <form class="form-horizontal">
        <div class="form-group form-group">
            <label for="" class="col-sm-2 control-label">Знайди пісню</label>
            <div class="col-sm-5">
                <input class="form-control" type="text" placeholder="Text input" autofocus="autofocus"/>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
    <table class="table table-hover table-striped">
        {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
        <thead>
        <tr>
            <th><a href="{% url "home" %}?order_by=id{% if order_by == 'id' and reverse != '1'%}&amp;reverse=1{% endif %}">№ {% if order_by == 'id' and reverse != '1'%}&uarr;{% elif order_by == 'id' and reverse == '1' %}&darr;{% endif %}</a></th>
            <th>Фото</th>
            <th><a href="{% url "home" %}?order_by=artist_name{% if order_by == 'artist_name' and reverse != '1'%}&amp;reverse=1{% endif %}">Артист
                  {% if order_by == 'artist_name' and reverse != '1' %}&uarr;{% elif order_by == 'artist_name' and reverse == '1' %}&darr;{% endif %}</a></th>
            <th><a href="{% url "home" %}?order_by=composition_name{% if order_by == 'composition_name' and reverse != '1' %}&amp;reverse=1{% endif %}">
                Пісня {% if order_by == 'composition_name' and reverse != '1'%}&uarr;
                {% elif order_by == 'composition_name' and reverse == '1' %}&darr;{% endif %}</a></th>
        </tr>
        </thead>
        <tbody>
        {% for song in songs %}
            <tr>
            <td>{{ forloop.counter }}</td>
            <td>{% if song.photo %}
                <img class="img-circle" src="{{ song.photo.url }}" height="30" width="30">
                {% else %}
                <img class="img-circle" src="{% static "img/default_user.png" %}" height="30" width="30">
                {% endif %}
            </td>
            <td><a href="#">{{ song.artist_name }}</a></td>
            <td><a href="#">{{ song.composition_name }}</a></td>
            </tr>
        
        {% endfor %}
        </tbody>
        {% endwith %}
    </table>
</div>
    <!-- Javascripts Inclusion -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body>
</html>